@import "tailwindcss";

@theme {
    --color-custom-red: #C73B0F;
    --color-custom-white: #FCF8F6;
    --color-custom-brown: #87635A;
    --color-custom-black: ##260F08;
}

.font-red-hat-bold {
    font-family: var(--red-hat-text-bold);
}

.font-red-hat-semibold {
    font-family: var(--red-hat-text-semibold);
}

.font-red-hat-regular {
    font-family: var(--red-hat-text-regular);
}

